.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
.header{
    grid-area: header;
    height: 70px;
    background-color: #1F2833;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header a{
    font-size: 26px;
    padding: 40px 40px 25px 40px;
    text-decoration: none;
    color: aqua;
    font-weight: bold;
    transition: 0.3s;
}
.header a:hover{
    background-color: orange;
    border-radius: 10px;
    color:white
}
.main{
    grid-area: main;
    height: 92vh;
    background-color: #0B0C10;
}
.footer{
    grid-area: footer;
    background-color: #1F2833;
    height: 70px;
    font-size: 26px;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
